
<link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<h1><%= @deck.name.downcase %></h1>
  <div class= "cards">
  <% if @right %>
    <p class="right">You got it right!</p>
  <% elsif @wrong %>
    <p class="wrong">Wrong! Try again later!</p>
  <% end %>

  <%= @card_display.question %>

  <form method ="post" action="/round/<%=@round.id%>/guess">
    <input class="input" type ="hidden" name ="guess[round_id]" value= "<%=@round.id %>">
    <input class="input" type="hidden" name = "guess[card_id]" value= "<%=@card_display.id %>">
  <input class="input"type = "text" name = "guess[guess_name]"><br>
  <input class="input" id="submit" type = "submit" value = "submit answer">
  </form>

</div>
